@using Data.Model;
@using Data.Utils;
@model NewsDetailOutputModel
@{
    ViewBag.Title = "GetNewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 mt-5">
    <div class="breadcrumb-holder">
        <div class="row pb-3 pt-3">
            <div class="text-dark">
                <h4><i class="fa fa-fw fa-newspaper-o"></i>Thêm bài viết</h4>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6 col-12 mt-2">
        <label>Loại bài viết</label>
        <select class="form-control" id="type-value">
            <option value="@SystemParam.NEWS_TYPE">Tin tức</option>
            <option value="@SystemParam.EVENT_TYPE">Tin sự kiện</option>
            <option value="@SystemParam.PROMOTION_TYPE">Tin khuyến mại</option>
        </select>
    </div>
    <div class="col-md-6 col-12 mt-2">
        <label>Trạng thái</label>
        <select class="form-control" id="status-value">
            <option value="1">Đăng bài</option>
            <option value="0">Lưu nháp</option>
        </select>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <input class="form-control" id="txt-title" placeholder="Nhập tiêu đề bài viết" value="@Model.Title" />
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <textarea class="form-control" placeholder="Nhập Mô tả bài viết" id="txt-summary" style="height:75px !important">@Model.Summary</textarea>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-3 col-12">
        <label>Ảnh đại diện</label>
        <a href="" class="text-bold mb-3" style="width:100%;height:100%; color: #5A5A5A;" id="add-img">
            <img id="tagImg" src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_photo-512.png" class="col-3" alt="Chọn" />

        </a>
    </div>
    <div class="col-md-3 col-12">
        <div>
            <div class="article" id="div-add-img" style="position:relative">
                <div style="margin-top:10px;"><img id="img-add" class="imgCreateCategory cursor-pointer" width="100%" height="100%" src="@Model.ImgUrl" onclick="ChangeImg($(this));" /></div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <label>Nội dung</label>
        <textarea id="txt-content">@Model.Content</textarea>
    </div>
</div>

<div class="row mt-3 float-right mb-5">
    <div class="col-12 ">
        <button class="btn btn-success" onclick="UpdateNews(@Model.ID)"><i class="fa fa-save mr-1"></i>Cập nhật</button>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#type-value').val(@Model.Type);
        $('#status-value').val(@Model.Status);
        CKEDITOR.replace('txt-content', {
            height: 300,
            disableObjectResizing: true
        });

        CKEDITOR.on('dialogDefinition', function (ev) {
            var dialogName = ev.data.name;
            var dialogDefinition = ev.data.definition;
            //var editorO = ev.data.definition.dialog.getParentEditor();

            if (dialogName == 'image' || dialogName == 'image2') {
                var infoTab = dialogDefinition.getContents('info');

                if (dialogName == 'image') {
                    infoTab.remove('txtHeight');
                    infoTab.remove('txtWidth');
                    infoTab.remove('ratioLock');
                }
                else {
                    infoTab.remove('height');
                    infoTab.remove('width');
                    infoTab.remove('lock');
                }
            }
        });
    })
    $("#add-img").off('click').on('click', function (e) {
        e.preventDefault();
        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            $("#div-add-img").empty();
            $("#div-add-img").append('<div style ="margin-top:10px;"><img id="img-add" class="imgCreateCategory cursor-pointer" width="100%" height="100%" src="' + fileUrl + '" onclick="ChangeImg($(this));" /></div>');
        }
        fider.popup();
    });

    function ChangeImg($url) {
        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            $url.attr('src', fileUrl);
        }
        fider.popup();
    }
</script>

