@using Data.Utils
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 mt-5">
    <div class="breadcrumb-holder">
        <div class="row pb-3 pt-3">
            <div class="text-dark">
                <h4><i class="fa fa-user"></i> Quản lý tài khoản</h4>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2 ">
    <div class="col-md-4 col-sm-12 col-xs-12   mt-1">
        <input type="text" class="form-control" id="txt-search-key" placeholder="Tên hoặc số điện thoại người dùng  " />
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12   mt-1">
        <input type="text" class="form-control relative-icon-calendar date" id="txt-from-date" placeholder="Từ ngày" />
        <i class="fa fa-calendar absolute-icon-calendar"></i>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12   mt-1">
        <input type="text" class="form-control relative-icon-calendar date" id="txt-to-date" placeholder="Đến ngày" />
        <i class="fa fa-calendar absolute-icon-calendar"></i>
    </div>

    <div class="col-md-6 offset-md-6 offset-sm-10 mt-3 mb-3 col-sm-2 ">
        <button class="btn btn-outline-success float-right m-2" data-toggle="modal" data-target="#addUser"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
        <button class="btn btn-outline-primary float-right m-2" id="btnSeacrhUser"><i class="fa fa-search"></i> Tìm kiếm</button>
    </div>
</div>

<div class="row mt-2" id="tableUser">

    @{
        Html.RenderAction("Search", "User", new { page = 1 });
    }

</div>

<div class="modal fade" id="addUser" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color:#1E8449 ">
                <h5 class="modal-title"> <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp Thêm người dùng</h5>
                <button type="button" class="close " style="color:coral" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <div class="row mb-3">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <strong>Số điện thoại</strong>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <input type="number" class="form-control" id="txt-phone" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <strong>Tên người dùng</strong>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <input type="text" class="form-control" id="txt-name" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <strong>Loại tài khoản</strong>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <select class="form-control" id="val-role">
                            <option value="@SystemParam.ROLE_ADMIN">Admin</option>
                            <option value="@SystemParam.ROLE_CLERK">Nhân viên kế toán</option>
                            <option value="@SystemParam.ROLE_TECHNICAL_STAFF">Nhân viên kỹ thuật</option>
                        </select>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <strong>Mật khẩu</strong>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <input type="password" class="form-control" id="txt-password" />
                    </div>
                </div>


                <div class="row mt-2 float-right">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" id="btnadduser" class="btn btn-success">Thêm mới</button>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="user-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color:#1E8449 ">
                <h5 class="modal-title"> <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp Cập nhật user</h5>
                <button type="button" class="close " style="color:coral" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <div class="row mb-3">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <strong>Số điện thoại</strong>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <input type="number" class="form-control" id="txt-phone-edit" data-id="" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <strong>Tên người dùng</strong>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <input type="text" class="form-control" id="txt-name-edit" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <strong>Loại tài khoản</strong>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <select class="form-control" id="val-role-edit">
                            <option value="@SystemParam.ROLE_ADMIN">Admin</option>
                            <option value="@SystemParam.ROLE_CLERK">Nhân viên kế toán</option>
                            <option value="@SystemParam.ROLE_TECHNICAL_STAFF">Nhân viên kỹ thuật</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <strong>Mật khẩu</strong>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <input type="password" class="form-control" id="txt-password-edit" />
                    </div>
                </div>


                <div class="row mt-2 float-right">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" onclick="updateUserInfo()" class="btn btn-success">Lưu</button>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<script>



    $(document).ready(function () {
        $('#addUser').on('show.bs.modal', function (e) {
            $("#txt-phone").val("");
            $("#txt-name").val("");
            $("#txt-password").val("");

        })

        $("#btnadduser").click(function () {
            var username = $.trim($("#txt-name").val());
            var phone = $.trim($("#txt-phone").val());
            var role = $('#val-role').val();
            var password = $.trim($("#txt-password").val());
            if (username.length == 0 || phone.length == 0 || password.length == 0) {
                swal({
                    title: "Mời điền đầy đủ thông tin",
                    icon: "warning"
                });
            }
            else if (!/^0[1-9]{1}[0-9]{8}$/.test(phone)) {
                swal({
                    title: "Số điện thoại không đúng định dạng!",
                    icon: "warning"
                });
            } else if (password.length < 6) {
                swal({
                    title: "Mật khẩu ít nhất phải có 6 ký tự!",
                    icon: "warning"
                });
            }
            else {
                $.ajax({
                    url: "/User/AddUser",
                    type: "POST",
                    data: {

                        userPhone: phone,
                        userName: username,
                        password: password,
                        role: role
                    },
                    beforeSend: function () {
                        $("modalLoad").modal("show");
                    },
                    success: function (res) {
                        $("modalLoad").modal("hide");
                        if (res.Status == 1) {
                            $("#addUser").modal("hide");
                            toastr.success("Thêm người dùng thành công !")
                            $("#btnSeacrhUser").click();
                        }
                        else {
                            swal({
                                title: res.Message,
                                text: "",
                                icon: "error"
                            });
                        }
                    }

                })
            }

        })
        $("#btnSeacrhUser").click(function () {
            var username = $.trim($("#txt-search-key").val());
            var fromdate = $("#txt-from-date").val();
            var todate = $("#txt-to-date").val();
            $.ajax({
                url: "/User/Search",
                type: "GET",
                data: {
                    page: 1,
                    searchKey: username,
                    fromDate: fromdate,
                    toDate: todate

                },
                beforeSend: function () {
                    $("#modalLoad").modal("show");
                }, success: function (res) {
                    $("#tableUser").html(res);
                    $("#modalLoad").modal("hide");
                }

            });
        });


        $(document).on("keyup", function (e) {
            if (e.keyCode == 13) {
                $("#btnSeacrhUser").click();
            }
        });


    });
</script>