@using Data.Model
@using Data.Utils
@model Data.Model.OrderDetailOuputModel

<div class="modal fade" id="md-order-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg mw-100 w-50" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chi tiết đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="fm-order-detail">
                    <div class="row">
                        <div class="col-md-12 ">
                            <strong class="offset-md-1">Thông Tin Đơn Hàng</strong>
                            <div class="row mt-4">
                                <div class="col-md-4 offset-md-1">
                                    <i class="fa fa-user ml-5 mr-2"></i><span style="color:darkgrey">Người Mua</span>
                                </div>
                                <div class="col-md-7" style="font-size:14px">
                                    <b id="txtCusName">@Model.CusName</b>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-4 offset-md-1">
                                    <i class="fa fa-phone ml-5 mr-2"></i><span style="color:darkgrey">Số Điện Thoại</span>
                                </div>
                                <div class="col-md-7" style="font-size:14px">
                                    <b id="txtPhone">@Model.CusPhone</b>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-4 offset-md-1">
                                    <i class="fa fa-map-marker ml-5 mr-2"></i><span style="color:darkgrey">Địa Chỉ Đăng Ký</span>
                                </div>
                                <div class="col-md-7" style="font-size:14px">
                                    <b id="txtAddress">@Model.LocationRequest</b>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-4 offset-md-1">
                                    <i class="fa fa-clock-o ml-5 mr-2"></i><span style="color:darkgrey">Ngày Đặt</span>
                                </div>
                                <div class="col-md-7" style="font-size:14px">
                                    <b>@Model.CreatedDate.ToString("dd-MM-yyy hh:mm")</b>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-4 offset-md-1">
                                    <i class="fa fa-sticky-note ml-5 mr-2"></i><span style="color:darkgrey">Ghi chú của khách</span>
                                </div>
                                <div class="col-md-7" style="font-size:14px">
                                    <b>@Model.Note</b>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-4 offset-md-1">
                                    <i class="fa fa-toggle-on ml-5 mr-2"></i><span style="color:darkgrey">Trạng Thái</span>
                                </div>
                                <div class="col-md-7" style="font-size:14px;">
                                    <select class="form-control" id="status-value-detail" name="Status">
                                        <option selected disabled hidden>--Trạng thái--</option>
                                        <option value="@SystemParam.PENDING" class="text-warning">Chờ xác nhận</option>
                                        <option value="@SystemParam.ACCEPT" class="text-primary">Đã xác nhận</option>
                                        <option value="@SystemParam.COMPLETE" class="text-success">Hoàn thành</option>
                                        <option value="@SystemParam.CANCEL" class="text-danger">Hủy</option>
                                    </select>

                                </div>
                            </div>




                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 text-left">
                            <strong class="offset-md-1">Chi tiết đơn hàng</strong>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 offset-md-1 col-5"> <i class="fa fa-barcode ml-5 mr-2"></i><span style="color:darkgrey">Mã đơn hàng</span></div>
                        <div class="col-md-7 col-7" style="font-size:14px">
                            <b>@Model.Code</b>
                            <input type="hidden" name="ID" value="@Model.ID" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 offset-md-1 col-5"> <i class="fa fa-bookmark ml-5 mr-2"></i><span style="color:darkgrey">Tên dịch vụ</span></div>
                        <div class="col-md-7 col-7" style="font-size:14px">
                            <b>@Model.ServiceName</b>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 offset-md-1 col-5"> <i class="fa fa-bitcoin ml-5 mr-2"></i><span style="color:darkgrey">Tổng tiền</span></div>
                        <div class="col-md-7 col-7" style="font-size:14px">
                            <input class="form-control number" value="@String.Format("{0:n0}",Model.TotalPrice)" id="txt-price" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 offset-md-1 col-5"> <i class="fa fa-bitcoin ml-5 mr-2"></i><span style="color:darkgrey">Chiết khấu(%)</span></div>
                        <div class="col-md-7 col-7" style="font-size:14px">
                            <div class="row">
                                <div class="col-md-3"><input id="number-discount" type="number" name="DiscountValue" value="@Model.DiscountValue" class="form-control mr-3" onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 190 || event.keyCode == 189 ? false : true" /></div>
                                <div class="col-md-6 text-center">
                                    <b>Thành tiền: </b> <span id="val-discount" class="text-danger">@String.Format("{0:n0}", Model.Discount)</span>
                                    <input type="hidden" id="discount-default" value="@Model.Discount" />
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 offset-md-1 col-5"> <i class="fa fa-sticky-note ml-5 mr-2"></i><span style="color:darkgrey">Ghi chú admin</span></div>
                        <div class="col-md-7 col-7" style="font-size:14px">
                            <textarea class="form-control" name="AdminNote" id="note-admin" style="height:75px;" placeholder="Nhập ghi chú">@Model.AdminNote</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnBill" class="btn btn-success"><i class="fa fa-download mr-1"></i>Xuất Hóa Đơn</button>
                        <button type="submit" id="btnSave" class="btn btn-primary" onclick="SaveEditOrder()">Lưu</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#status-value-detail').val(@Model.Status);
    })

    $('#txt-price').on('input', function () {
        var price = cms_decode_currency_format($(this).val());
        $(this).val(cms_encode_currency_format(price));
        $('#val-discount').text(cms_encode_currency_format(price));
        $('#number-discount').val(0);
    });

    $('#number-discount').on('input', function () {
        var totalPrice = parseInt($('#txt-price').val().replace(/,/g, ''));
        var value = totalPrice * (100 - $(this).val()) / 100;
        $('#val-discount').text(cms_encode_currency_format(value));
        if (value < 0) {
            swal({
                title: "Chiết khấu không được vượt quá tổng tiền hiệ tại!",
                icon: "warning"
            })
            $(this).val(0);
            $('#val-discount').text(cms_encode_currency_format(totalPrice));

        }
    })
</script>