@using Data.Model
@using Data.Utils
@model Data.Model.HomeFrontEndOutputModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}


<div class="slider">
    <ul class="slides">
        @{
            if (Model.ListNews != null)
            {
                foreach (var newsitem in Model.ListNews)
                {
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="slide-caption">
                                        <h2 class="slide-title">@newsitem.Title</h2>
                                        <div class="slide-summary">
                                            <p>@newsitem.Summary</p>
                                        </div>
                                        @*<button class="btn" onclick="newDetailWeb(@newsitem.ID)"> Read more</button>*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img src="@newsitem.ImgUrl" alt="" style="height:auto;width:250px">
                                </div>
                            </div>


                        </div>
                    </li>
                }
            }
            else
            {
                <h1>Không có khuyến mãi</h1>
            }
        }

    </ul> <!-- .slides -->
</div> <!-- .slider -->

<div class="fullwidth-block feature-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature wow fadeInUp">
                    <div class="feature-title">
                        <i class="icon-customer-service"></i>
                        <h2 class="title">Hỗ Trợ Khách Hàng</h2>
                        <small class="subtitle">Nulla eros odio dolor</small>
                    </div>
                    <div class="feature-summary">
                        <p>Tư vấn, thiết kế và triển khai các dự án viễn thông được nhà nước chấp thuận.</p>
                    </div>
                    <a href="#" class="button">Xem thêm</a>
                </div> <!-- .feature -->
            </div> <!-- .col-md-4 -->
            <div class="col-md-4">
                <div class="feature wow fadeInUp" data-wow-delay=".2s">
                    <div class="feature-title">
                        <i class="icon-server-lock"></i>
                        <h2 class="title">Dịch vụ khách hàng</h2>
                        <small class="subtitle">Nulla eros odio dolor</small>
                    </div>
                    <div class="feature-summary">
                        <p>Sản xuất, lắp ráp, cung ứng các thiết bị viễn thông, thiết bị bảng điều khiển.</p>
                    </div>
                    <a href="#" class="button">Xem thêm</a>
                </div> <!-- .feature -->
            </div> <!-- .col-md-4 -->
            <div class="col-md-4">
                <div class="feature wow fadeInUp" data-wow-delay=".4s">
                    <div class="feature-title">
                        <i class="icon-bar-chart-up"></i>
                        <h2 class="title">Dịch vụ khách hàng</h2>
                        <small class="subtitle">Nulla eros odio dolor</small>
                    </div>
                    <div class="feature-summary">
                        <p>Khai thác, vận hành và quản lý dịch vụ viễn thông cũng như dịch vụ Internet.</p>
                    </div>
                    <a href="#" class="button">More info</a>
                </div> <!-- .feature -->
            </div> <!-- .col-md-4 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .feature-section -->

<div class="fullwidth-block pricing-section">
    <div>
        <button class="btn btn-danger"><a href="@Url.Action("Index","/ServicePlanFE")">xem thêm</a></button>
    
    </div>
    <div class="container">
        <div class="row">
            @{
                if (Model.ListService != null)
                {
                    foreach (var serviceitem in Model.ListService)
                    {
                        <div class="col-md-3 col-xs-6 col-us" onclick="serviceDetail(@serviceitem.ID)">
                            <div class="pricing-table wow fadeInLeft" data-wow-delay=".2s">
                                <div class="pricing-title">
                                    <h2 class="pricing-type">@serviceitem.CateName</h2>
                                    <small>Cho doanh nghiệp nhỏ</small>
                                </div>
                                <div class="price-tag">
                                    <strong>$@serviceitem.Price</strong>
                                    <small>/@serviceitem.Value tháng</small>
                                </div>
                                <p class="pricing-desc">@serviceitem.Name</p>
                                <ul class="list-fa">
                                    <li><i class="fa fa-check"></i> Bốn nhân</li>
                                    <li><i class="fa fa-check"></i> 50 GB ram</li>
                                    <li><i class="fa fa-check"></i> 50 GB không gian đĩa</li>
                                    <li><i class="fa fa-check"></i> 10 tài khoản email</li>
                                    <li><i class="fa fa-check"></i> Hỗ trợ 24/h</li>
                                    <li><i class="fa fa-check"></i> Bảng quản trị</li>
                                </ul>
                            </div> <!-- .pricing-table -->
                        </div>
                    }

                }
                else
                {
                    <h1>Không tồn tại dữ liệu</h1>
                }
            }

        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .pricing-section -->

<div class="fullwidth-block about-section">

    <div class="container">

        <div class="row">

            <div class="col-md-6 wow fadeInUp">
                <h2>Lưu trữ an toàn và tốc độ cao</h2>
                <p class="leading">Các thiết bị lưu trữ dữ liệu và bộ nhớ là những thiết bị dùng để đáp ứng nhu cầu giải quyết công việc. </p>
                <p>Thiết bị lưu trữ là một phần không thể thiếu cho một chiếc máy tính, chúng lưu trữ hầu hết tất cả các dữ liệu và các ứng dụng trên một máy tính. Thiết bị lưu trữ được sử dụng để lưu trữ, chuyển và giải nén các tập tin dữ liệu của các đối tượng, nó vừa giữ lưu thông tin tạm thời vừa vĩnh viễn. Nó có thể giữ và lưu trữ thông tin tạm thời và vĩnh viễn, và có thể là nội bộ hay bên ngoài vào máy tính, máy chủ hoặc bất kỳ thiết bị điện toán tương tự.</p>
                <p>Thiết bị lưu trữ thứ cấp là thiết bị lưu trữ dữ liệu lâu dài, dữ liệu không bị mất đi sau khi tắt máy gồm có: Ổ cứng trong, ổ cứng di động hay bộ nhớ thể rắn và đĩa quang.</p>
                

            </div>

            <div class="col-md-6">
                <h2 class="wow fadeInRight">Bạn có thể mong đợi điều gì?</h2>
                <hr class="separator">
                <ul class="feature-list">
                    <li class="wow fadeInRight">
                        <i class="icon-money-globe"></i>
                        <h3> Mục tiêu Tempis</h3>
                        <p>Khai thác, vận hành và quản lý dịch vụ viễn thông cũng như dịch vụ Internet.</p>
                    </li>
                    <li class="wow fadeInRight">
                        <i class="icon-server-lock"></i>
                        <h3> Mục tiêu Tempis</h3>
                        <p>Hoạt động kinh doanh dịch vụ mạng viễn thông tại thị trường Việt Nam và thị trường nước ngoài. </p>
                    </li>
                    <li class="wow fadeInRight">
                        <i class="icon-person-time"></i>
                        <h3> Mục tiêu Tempis</h3>
                        <p>Sản xuất, lắp ráp, cung ứng các thiết bị viễn thông, thiết bị bảng điều khiển và các thiết bị điện khác</p>
                    </li>
                </ul>
            </div>

        </div> <!-- .row -->

    </div> <!-- .container -->
</div> <!-- .fullwidth-block -->
