@using Data.Model
@using Data.Utils
@model Data.Model.HomeFrontEndOutputModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}


<div class="slider">
    <ul class="slides">
        @{
            if (Model.ListNews != null)
            {
                foreach (var newsitem in Model.ListNews)
                {
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="slide-caption">
                                        <h2 class="slide-title">@newsitem.Title</h2>
                                        <small class="slide-subtitle">Nemo enom ipsam voluptatem voluptas</small>
                                        <div class="slide-summary">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, illum laborum odit est quibusdam, molestias quaerat qui, eveniet voluptate debitis, earum dolorem. Fuga maxime fugit excepturi, saepe fugiat quisquam quia!</p>
                                        </div>
                                        @*<button class="btn" onclick="newDetailWeb(@newsitem.ID)"> Read more</button>*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img src="@newsitem.ImgUrl" alt="" style="height:auto;width:250px">
                                </div>
                            </div>


                        </div>
                    </li>
                }
            }
            else
            {
                <h1>Không có khuyến mãi</h1>
            }
        }

    </ul> <!-- .slides -->
</div> <!-- .slider -->

<div class="fullwidth-block feature-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature wow fadeInUp">
                    <div class="feature-title">
                        <i class="icon-customer-service"></i>
                        <h2 class="title">Hỗ Trợ Khách Hàng</h2>
                        <small class="subtitle">Nulla eros odio dolor</small>
                    </div>
                    <div class="feature-summary">
                        <p>Chocolate caramels unerdwear.com lemon drops. Powder chupa chups pastry macaroon wafer chocolate cake sweet roll croissant jelly</p>
                    </div>
                    <a href="#" class="button">More info</a>
                </div> <!-- .feature -->
            </div> <!-- .col-md-4 -->
            <div class="col-md-4">
                <div class="feature wow fadeInUp" data-wow-delay=".2s">
                    <div class="feature-title">
                        <i class="icon-server-lock"></i>
                        <h2 class="title">Customer Services</h2>
                        <small class="subtitle">Nulla eros odio dolor</small>
                    </div>
                    <div class="feature-summary">
                        <p>Chocolate caramels unerdwear.com lemon drops. Powder chupa chups pastry macaroon wafer chocolate cake sweet roll croissant jelly</p>
                    </div>
                    <a href="#" class="button">More info</a>
                </div> <!-- .feature -->
            </div> <!-- .col-md-4 -->
            <div class="col-md-4">
                <div class="feature wow fadeInUp" data-wow-delay=".4s">
                    <div class="feature-title">
                        <i class="icon-bar-chart-up"></i>
                        <h2 class="title">Customer Services</h2>
                        <small class="subtitle">Nulla eros odio dolor</small>
                    </div>
                    <div class="feature-summary">
                        <p>Chocolate caramels unerdwear.com lemon drops. Powder chupa chups pastry macaroon wafer chocolate cake sweet roll croissant jelly</p>
                    </div>
                    <a href="#" class="button">More info</a>
                </div> <!-- .feature -->
            </div> <!-- .col-md-4 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .feature-section -->

<div class="fullwidth-block pricing-section">
    <div class="container">
        <div class="row">
            @{
                if (Model.ListService != null)
                {
                    foreach (var serviceitem in Model.ListService)
                    {
                        <div class="col-md-3 col-xs-6 col-us" onclick="serviceDetail(@serviceitem.ID)">
                            <div class="pricing-table wow fadeInLeft" data-wow-delay=".2s">
                                <div class="pricing-title">
                                    <h2 class="pricing-type">@serviceitem.Name</h2>
                                    <small>For small bussiness</small>
                                </div>
                                <div class="price-tag">
                                    <strong>$@serviceitem.Price</strong>
                                    <small>/Per month</small>
                                </div>
                                <p class="pricing-desc">Curabitur facilisis consectetur leo in venenatis mauris nisl</p>
                                <ul class="list-fa">
                                    <li><i class="fa fa-check"></i> Quad core</li>
                                    <li><i class="fa fa-check"></i> 50 GB ram</li>
                                    <li><i class="fa fa-check"></i> 50 GB disc space</li>
                                    <li><i class="fa fa-check"></i> 10 email accounts</li>
                                    <li><i class="fa fa-check"></i> Support 24/h</li>
                                    <li><i class="fa fa-check"></i> Admin panel</li>
                                </ul>
                            </div> <!-- .pricing-table -->
                        </div>
                    }

                }
                else
                {
                    <h1>Không tồn tại dữ liệu</h1>
                }
            }

        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .pricing-section -->

<div class="fullwidth-block about-section">

    <div class="container">

        <div class="row">

            <div class="col-md-6 wow fadeInUp">
                <h2>Safe &amp; high-speed hosting</h2>
                <p class="leading">Pallentesque nibh pharetra urna elementum viverra elit duis faucibus augue tempor eleifend</p>
                <p>Tiramisu cotton candy caramels cake biscuit jelly-o chupa chups chocolate. Tootsie roll lollipop topping. Macaroon ice cream cookie powder dessert gingerbread oat cake. Pudding cake powder icing tart sugar plum sesame snaps.</p>
                <p>Fruitcake tootsie roll candy. Sweet roll toffee donut. Chocolate cake gummi bears fruitcake cookie biscuit cotton candy marshmallow.</p>
                <p>Liquorice macaroon marshmallow macaroon cheesecake sweet soufflé. Cheesecake cookie dessert jelly-o. Fruitcake tart topping.</p>

            </div>

            <div class="col-md-6">
                <h2 class="wow fadeInRight">What can you expect?</h2>
                <hr class="separator">
                <ul class="feature-list">
                    <li class="wow fadeInRight">
                        <i class="icon-money-globe"></i>
                        <h3>Aliquam nibh quam iaculis tempis</h3>
                        <p>Candy powder. Carrot cake ice cream toffee bonbon. Donut marzipan chupa chups cookie tart dessert fruitcake brownie. </p>
                    </li>
                    <li class="wow fadeInRight">
                        <i class="icon-server-lock"></i>
                        <h3>Aliquam nibh quam iaculis tempis</h3>
                        <p>Candy powder. Carrot cake ice cream toffee bonbon. Donut marzipan chupa chups cookie tart dessert fruitcake brownie. </p>
                    </li>
                    <li class="wow fadeInRight">
                        <i class="icon-person-time"></i>
                        <h3>Aliquam nibh quam iaculis tempis</h3>
                        <p>Candy powder. Carrot cake ice cream toffee bonbon. Donut marzipan chupa chups cookie tart dessert fruitcake brownie. </p>
                    </li>
                </ul>
            </div>

        </div> <!-- .row -->

    </div> <!-- .container -->
</div> <!-- .fullwidth-block -->
