
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}
@using Data.Model
@model List<SelectOptionModel>
<div class="container">
    <div class="row col-12 justify-content-center mt-5">
        <div>
            <h2 style="font-weight:bold;">Đăng Kí</h2>
        </div>
    </div>
    <div class="row col-12 justify-content-center">
        <div class="register-frontend">
            <form id="form-register">
                <div>
                    <label for="exampleInputEmail1">Họ tên</label>
                    <input type="text" class="form-control" id="name" placeholder="Nhập tên" autocomplete="off">
                </div>
                <div>
                    <label for="exampleInputEmail1">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại" autocomplete="off">
                </div>
                <div>
                    <label for="exampleInputEmail1">Email </label>
                    <input type="text" class="form-control" id="email" placeholder="Nhập email " autocomplete="off">
                </div>
                <div>
                    <label for="exampleInputEmail1">Tỉnh / Thành phố </label>
                    <select class="form-control" id="province-register" onchange="ChangProvince($(this))">
                        @{
                            foreach (var item in Model)
                            {
                                <option value="@item.id">@item.value</option>
                            }
                        }

                    </select>
                </div>
                <div>
                    <label for="exampleInputEmail1">Quận / Huyện / Thị Xã </label>
                    <select class="form-control" id="district-register" onchange="ChangeDistrict($(this))">
                        @{
                            foreach (var item in (List<SelectOptionModel>)ViewBag.ListDistrict)
                            {
                                <option value="@item.id">@item.value</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <label for="exampleInputEmail1">Phường / Xã / Thị Trấn </label>
                    <select class="form-control" id="village-register">
                        @{
                            foreach (var item in (List<SelectOptionModel>)ViewBag.ListVillage)
                            {
                                <option value="@item.id">@item.value</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <label for="exampleInputEmail1">Địa chỉ </label>
                    <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ  " autocomplete="off">
                </div>
                <div>
                    <label for="exampleInputPassword1">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" placeholder="Mật Khẩu" autocomplete="off">
                </div>
                <div>
                    <label for="exampleInputPassword1">Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" id="confirm_password" placeholder="Mật Khẩu" autocomplete="off">
                </div>
                <button type="button" style="background-color: #01A6D4;" id="btn-register" class="btn btn-primary offset-md-5 offset-sm-3 mt-5">Đăng kí</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btn-register").click(function () {
    let phone = $("#phone").val().trim();
    let email = $("#email").val().trim();
    let name = $("#name").val().trim();
    let password = $("#password").val().trim();
    let confirm_password = $("#confirm_password").val().trim();
    let address = $("#address").val().trim();
    let province_id = $("#province-register").val();
    let district_id = $("#district-register").val();
    let village_id = $("#village-register").val();
    if (phone.length <= 0 || email.length <= 0 || password.length <= 0 || confirm_password.length <= 0 || address.length <= 0 || name.length<=0) {
        swal({
            title: "Mời điền đầy đủ thông tin!",
            text: "",
            icon: "warning"
        })
        return;
    }
    if (!/(03|05|07|08|09|01[2|6|8|9])+([0-9]{8})\b/.test(phone)) {
        swal({
            title: "Số điện thoại không hợp lệ!",
            text: "",
            icon: "warning"
        })
        return;
    }
    @*if (!/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)) {
        swal({
            title: "Email không hợp lệ!",
            text: "",
            icon: "warning"
        })
        return;
    }*@
    if (password != confirm_password) {
        swal({
            title: "Mật khẩu không trùng khớp!",
            text: "",
            icon: "warning"
        })
        return;
    }
    let data = {
        name,
        phone,
        email,
        password,
        address,
        province_id,
        district_id,
        village_id
    }
    $.ajax({
        url: "/FrontEnd/HomeFrontEnd/Register",
        type: "POST",
        data: {
            input: data
        }, success: function (res) {
            if (res.Code == 1) {
                swal({
                    title: "Đăng ký thành công!",
                    text: "",
                    icon: "success"
                }).then(() => {
                    location.href = "Index";

                })
            }
        }
    })
})

</script>
