@{
    //ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}

<div id="newsweb">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <a href="index.html">Home</a> &rarr;
                    <a href="#">News</a>
                </div>
                <div class="col-md-3 offset-md-0 col-sm-6 mt-1">
                    <select id="cateNewsID" class="form-control">
                        <optgroup label="Tiêu đề">
                            <option value="0">Tất cả </option>
                            @foreach (var tp in ViewBag.ListCategory)
                            {
                                <option value="@tp.ID">@tp.Name</option>
                            }
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-4 col-sm-12">
                    <input type="text" class="form-control" id="txtSearchNews" placeholder="Nội dung tìm kiếm" />
                </div>
                <div class="col-md-2 col-sm-12">
                    <button class="btn btn-block btn-primary" onclick="SearchNewsFontEnd()"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>

        </div>
    </div>

    <div class="inner-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="listNewsWeb">
                        @{
                            Html.RenderAction("SearchNewsWeb", "NewsFrontEnd", new { Page = 1, Name = "" });
                        }
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <aside class="sidebar">
                        <div class="widget wow fadeInRight">
                            <h3 class="widget-title">Danh mục</h3>
                            <ul class="list-fa">
                                <li><i class="fa fa-long-arrow-right"></i>CONNECT</li>
                                <li><i class="fa fa-long-arrow-right"></i>DIAL</li>
                                <li><i class="fa fa-long-arrow-right"></i>BROADBAND</li>
                                
                            </ul>
                        </div> <!-- .widget -->

                        <div class="widget wow fadeInRight">
                            <h3 class="widget-title">Tin tức nổi bật</h3>
                            <ul class="posts">
                                @{
                                    if (ViewBag.ListNews != null)
                                    {
                                        foreach (var news in ViewBag.ListNews)
                                        {
                                            <li>
                                                <h4 class="entry-title">
                                                <a href="javascripst:void(0)" onclick="newDetailWeb(@news.ID)" >@news.Title</a></h4>
                                                <time class="date">@news.CreatedDateStr</time>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div> <!-- .widget -->

                        <div class="widget wow fadeInRight">
                            <h3 class="widget-title">Nhận xét trong tháng</h3>
                            <blockquote>
                                <p>Hỗ trợ nhiệt tình rất chất lượng cảm ơn admin</p>
                                <cite>Paul Smith</cite>
                            </blockquote>
                        </div> <!-- .widget -->
                    </aside> <!-- .sidebar -->
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .inner-content -->
</div>


<script type="text/javascript">
    // chi tiết tin tức
    function newDetailWeb(id) {
        $.ajax({
            url: "/FrontEnd/NewsFrontEnd/NewsDetail",
            data: { ID: id },
            type: "GET",
            success: function (rs) {
                ////$('#modalLoad').modal('hide');
                $('#newsweb').html(rs);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function SearchNewsFontEnd() {
        var cateid = $('#cateNewsID').val();
        var name = $('#txtSearchNews').val();
        $.ajax({
            url: "/FrontEnd/NewsFrontEnd/SearchNewsWeb",
            data: { Page: 1, Name: name, CateNewsID: cateid },
            type: "GET",
            success: function (rs) {
                ////$('#modalLoad').modal('hide');
                $('#listNewsWeb').html(rs);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>