@using APIProject.Models;
@using Data.Model;
@using Data.Model.APIWeb;
@using Data.Utils
@using PagedList.Mvc
@using System.Web
@model  PagedList.IPagedList<ListServicePlanOutputModel>

@* dùng forearch từ mode *@
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-xs-6 col-us" onclick="serviceDetail(@item.ID)">
                <div class="pricing-table wow fadeInLeft" data-wow-delay=".3s">
                    <div class="pricing-title">
                        <h2 class="pricing-type"> @item.Name</h2>
                        <small>For small bussiness</small>
                    </div>
                    <div class="price-tag">
                        <strong>$@item.Price</strong>
                        <small>/Per month</small>
                    </div>
                    <p class="pricing-desc">Curabitur facilisis consectetur leo in venenatis mauris nisl</p>
                    <ul class="list-fa">
                        <li><i class="fa fa-check"></i> @item.Name</li>
                        <li><i class="fa fa-check"></i> @item.CateName</li>
                        <li><i class="fa fa-check"></i> 50 GB disc space</li>
                        <li><i class="fa fa-check"></i> 10 email accounts</li>
                        <li><i class="fa fa-check"></i> Support 24/h</li>
                        <li><i class="fa fa-check"></i> Admin panel</li>
                    </ul>
                </div> <!-- .pricing-table -->
            </div>
        }
    </div> <!-- .row -->
</div> <!-- .container -->
@*// phân trang*@
<div class="col-md-12">
    <div class="row float-right">
        @Html.PagedListPager(
           Model,
           page => Url.Action("SearchService", "ServicePlanFE", new { Page = page }),
           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "listService" })
         )
    </div>
</div>

<footer class="site-footer wow fadeInUp" id="footer-layout" style="display:block;">
    <div class="container">

        <div class="row">
            <div class="col-md-6">

                <div class=" branding">
                    <img src="~/Content/font_end/images/logo-footer.png" alt="Site title" class="logo-icon">
                    <h1 class="site-title"><a href="#">Nexus</a></h1>
                    <h2 class="site-description">Quickly connecting the world.</h2>
                </div> <!-- .branding -->

                <p class="copy">Copyright 2014 NEXUS. designed by Themezy. All rights reserved</p>
            </div>

            <div class="col-md-6 align-right">

                <nav class="footer-navigation">
                    <a href="@Url.Action("Index","/News")">News</a>
                    <a href="@Url.Action("Index","/AboutUs")">About us</a>
                    <a href="@Url.Action("Index","/ServicePlanFE")">Services</a>
                    <a href="@Url.Action("Index","/Contact")">Contact</a>
                </nav> <!-- .footer-navigation -->

                <div class="social-links">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                </div> <!-- .social-links -->

            </div>
        </div>

    </div>
</footer> <!-- .site-footer -->
