@using Data.Model
@using Data.Utils
@model Data.Model.ListServicePlanOutputModel

@*<div class="service-detail-frontend-title"> * Chi Tiết Gói Cước</div>*@

<div class="service-detail-frontend">
    <div class="service-detail-frontend-name">@Model.Name</div>
    <div>
        <table class="service-detail-table">
            <tr>
                <img src="@Model.ImageUrl" alt="" style="height:auto;width:250px; padding-bottom:30px;">
           </tr>
            <tr>
                <th>Giá Thành</th>
                <td>
                    <strong>$@Model.Price</strong>
                    <small>/@Model.Value tháng</small>
                </td>
            </tr>
            <tr>
                <th>Mô tả</th>
                <td>
                    <p class="pricing-desc">@Model.Descreiption</p>
                </td>
            </tr>
            <tr>
                <th>Danh mục</th>
                <td>
                    @Model.CateName
                </td>
            </tr>
            <tr>
                <th>Loại gói cước</th>
                <td>
                    @Model.CateTypeStr
                </td>
            </tr>
        </table>


    </div> <!-- .pricing-table -->
    @*<button onclick="CreateOrder(@Model.ID,@cusid)">Tạo đơn hàng</button>*@

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-add-service" data-toggle="modal" data-target="#exampleModalCenter">
        Đăng ký
    </button>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Tạo đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tỉnh| Thành phố </label>
                    <select class="form-control" id="province-service" onchange="ChangProvinceService($(this))">
                        @{
                            foreach (var item in (List<SelectOptionModel>)ViewBag.LisProvince)
                            {
                                <option value="@item.id">@item.value</option>
                            }
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Quận|Huyện|Thị Xã </label>
                    <select class="form-control" id="district-service" onchange="ChangeDistrictService($(this))">
                        @{
                            foreach (var item in (List<SelectOptionModel>)ViewBag.ListDistrict)
                            {
                                <option value="@item.id">@item.value</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phường|Xã|Thị Trấn </label>
                    <select class="form-control" id="village-service">
                        @{
                            foreach (var item in (List<SelectOptionModel>)ViewBag.ListVillage)
                            {
                                <option value="@item.id">@item.value</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Địa chỉ</label>
                    <input type="text" class="form-control" id="txtAddressservice" placeholder="Nhập địa chỉ" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ghi chú</label>
                    <input type="text" class="form-control" id="txtNoteservice" placeholder="Ghi chú" autocomplete="off">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="createOrder(@Model.ID)">Tạo đơn hàng</button>
            </div>
        </div>
    </div>
</div>