@using Data.Model
@using Data.Utils
@model Data.Model.ListServicePlanOutputModel

<div class="service-detail-frontend-title"> * Chi Tiết Gói Cước</div>

<div class="service-detail-frontend">
    <div class="service-detail-frontend-name">@Model.Name</div>
    <div>
        <table class="service-detail-table">
            <tr>
                <th>Giá</th>
                <td>
                    <strong>$@Model.Price</strong>
                    <small>/tháng</small>
                </td>
            </tr>
            <tr>
                <th>Mô tả</th>
                <td>
                    <p class="pricing-desc">Curabitur facilisis consectetur leo in venenatis mauris nisl</p>
                </td>
            </tr>
            <tr>
                <th>Danh mục</th>
                <td>
                    @Model.CateName
                </td>
            </tr>
            <tr>
                <th>Dung lượng</th>
                <td>
                    <p class="pricing-desc">50 GB disc space</p>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    <p class="pricing-desc">Curabitur facilisis consectetur leo in venenatis mauris nisl</p>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    <p class="pricing-desc">Curabitur facilisis consectetur leo in venenatis mauris nisl</p>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    <p class="pricing-desc">Curabitur facilisis consectetur leo in venenatis mauris nisl</p>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    <p class="pricing-desc">Curabitur facilisis consectetur leo in venenatis mauris nisl</p>
                </td>
            </tr>
        </table>


    </div> <!-- .pricing-table -->
    @*<button onclick="CreateOrder(@Model.ID,@cusid)">Tạo đơn hàng</button>*@

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-add-service" data-toggle="modal" data-target="#exampleModalCenter">
        Tạo đơn hàng
    </button>
</div>
<!-- Modal -->
@*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Tạo đơn hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tỉnh| Thành phố </label>
                        <select class="form-control" id="province-register" onchange="ChangProvince($(this))">
                            @{
                                foreach (var item in (List<SelectOptionModel>)ViewBag.LisProvince)
                                {
                                    <option value="@Model.id">@Model.value</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Quận|Huyện|Thị Xã </label>
                        <select class="form-control" id="district-register" onchange="ChangeDistrict($(this))">
                            @{
                                foreach (var item in (List<SelectOptionModel>)ViewBag.ListDistrict)
                                {
                                    <option value="@Model.id">@Model.value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phường|Xã|Thị Trấn </label>
                        <select class="form-control" id="village-register">
                            @{
                                foreach (var item in (List<SelectOptionModel>)ViewBag.ListVillage)
                                {
                                    <option value="@Model.id">@Model.value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Địa chỉ</label>
                        <input type="text" class="form-control" id="txtAddress" placeholder="Nhập địa chỉ" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ghi chú</label>
                        <input type="text" class="form-control" id="txtNote" placeholder="Ghi chú" autocomplete="off">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@