@using APIProject.Models;
@using Data.Model;
@using Data.Model.APIWeb;
@using Data.Utils
@using PagedList.Mvc
@using System.Web
@model  PagedList.IPagedList<ListServicePlanOutputModel>

@* dùng forearch từ mode *@
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-xs-6 col-us" onclick="serviceDetail(@item.ID)">
                <div class="pricing-table wow fadeInLeft" data-wow-delay=".3s">
                    <div class="pricing-title">
                        <h2 class="pricing-type"> @item.Name</h2>
                        @*<small>Cho doanh nghiệp nhỏ</small>*@
                    </div>
                    <div class="price-tag">
                        <strong>$@item.Price</strong>
                        <small>/tháng</small>
                    </div>
                    <p class="pricing-desc"></p>
                    <ul class="list-fa">
                        @*<li><i class="fa fa-check"></i> @item.Name</li>*@
                        <li><i class="fa fa-check"></i> @item.CateName</li>
                        <li><i class="fa fa-check"></i> 50 GB không gian đĩa</li>
                        <li><i class="fa fa-check"></i> 10 tài khoản</li>
                        <li><i class="fa fa-check"></i> Support 24h</li>
                        <li><i class="fa fa-check"></i> Bảng quản trị</li>
                    </ul>
                </div> <!-- .pricing-table -->
            </div>
        }
    </div> <!-- .row -->
</div> <!-- .container -->
@*// phân trang*@
<div class="col-md-12">
    <div class="row float-right">
        @Html.PagedListPager(
           Model,
           page => Url.Action("SearchService", "ServicePlanFE", new { Page = page }),
           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "listService" })
         )
    </div>
</div>